.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    margin: 4rem;
    padding: 5rem;
    border-radius: 5px;
    animation: animatedBackground 10s linear infinite alternate;

}
@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }

.circularProgress{
    height: 100px;
    width: 100px;
}
.skills{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;

    @media screen and (max-width:850px){
        grid-template-columns: repeat(3,1fr);
    }
    @media screen and (max-width:650px){
        grid-template-columns: repeat(2,1fr);
    }
    @media screen and (max-width:400px){
        grid-template-columns: repeat(1,1fr);
    }

}
.skillData{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skillImageDiv{
    border: 2px solid #000;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;

}
.skillImage{
    object-fit: scale-down;
    height: 100%;
    width: 100%;
}
.skillsHeading{
 display: flex;
 justify-content: center;
 align-items: center;
}